@model QL_BanHang.Models.NhanVien

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>Chỉnh sửa nhân viên mới</h4>
<hr />
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="TenNv" class="control-label">Tên nhân viên</label>
                <input asp-for="TenNv" class="form-control" />
                <span asp-validation-for="TenNv" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="HoNv" class="control-label">Họ nhân viên</label>
                <input asp-for="HoNv" class="form-control" />
                <span asp-validation-for="HoNv" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="DienThoai" class="control-label">Điện thoại</label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="CaLamViec" class="control-label">Ca làm việc</label>
                <select asp-for="CaLamViec" class="form-control">
                    <option value="1">Ca sáng</option>
                    <option value="2">Ca chiều</option>
                </select>
                <span asp-validation-for="CaLamViec" class="text-danger"></span>
            </div>
            <div class="form-group col-12 d-flex justify-content-end">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-secondary ml-2" asp-action="Index">Quay lại</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
