@using QL_BanHang.Extensions
@model QL_BanHang.Models.DonHang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var nhanvienPage = Context.Session.Get<NhanVien>("user-admin");
    //if (nhanvienPage.IsAdmin == 0)
    //{
    //    Context.Response.Redirect("/admin");
    //}
}

<h4> Chỉnh sửa đơn hàng</h4>
<hr />
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-6 ">
                <label asp-for="MaDh" class="control-label">Mã đơn hàng</label>
                <input asp-for="MaDh" class="form-control" readonly/>
                <span asp-validation-for="MaDh" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="MaTt" class="control-label">Hình thức thanh toán</label>
                <select asp-for="MaTt" class="form-control">
                    <option value="1">Mo mo </option>
                    <option value="2">Card</option>
                    <option value="3">Tiền mặt </option>
                </select>
                <span asp-validation-for="MaTt" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="MaNv" class="control-label">Mã nhân viên</label>
                <input asp-for="MaNv" class="form-control" readonly/>
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="NgayGh" class="control-label">Ngày giao hàng</label>
                <input asp-for="NgayGh" class="form-control" />
                <span asp-validation-for="NgayGh" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="NgayLapHd" class="control-label">Ngày lập hóa đơn</label>
                <input asp-for="NgayLapHd" class="form-control" />
                <span asp-validation-for="NgayLapHd" class="text-danger"></span>
            </div>
            <div class="form-group col-12 d-flex justify-content-end">
                <input type="submit" value="Chỉnh sửa" class="btn btn-primary" />
                <a class="btn btn-secondary ml-2" asp-action="Index">Quay lại</a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
